html, body {
    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.before-loader {

}

.main-padd {
    padding-left: 10%;
    padding-right: 10%;
}

header .homepage-header, header .launch-rift-header {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(4, 35, 149);
}

header .launch-rift-header {
    background-color: #4065F6;
}

header .nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

header .nav div img {
    width: 40px;
    display: none;
}

header .nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav nav ul {
    display: flex;
    align-items: center;
}

.nav nav ul li {
    list-style-type: none;
    padding-right: 15px;
}

.nav nav ul li a {
    color: white;
}

.title h1 {
    padding: 100px 0;
    font-size: 4vw;
    color: rgb(113, 152, 248);
    font-weight: 100;
}

.title-onscroll {
    transition: .6s;
    opacity: 0;
    transform: translateY(50px);
}

.title h1 span {
    color: white;
}

.scroll {
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(113, 152, 248);
}

.scroll img {
    width: 40px;
}

main {
    background-color: rgb(4, 35, 149);
    color: white;
}

.triple-circle {
    height: 45vh;
    padding: 20px 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triple-circle > div {
    background-color: bisque;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    transition: .6s;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    will-change: transform, opacity;
}

.triple-circle > div:nth-child(1) {
    width: 12vw;
    height: 12vw;
    background-color: rgb(255, 206, 123);
    opacity: 0;
}

.triple-circle > div:nth-child(2) {
    width: 17vw;
    height: 17vw;
    background-color: rgb(255, 193, 89);
    transform: translateX(-100px) scale(0.8);
    transition-delay: .6s;
    opacity: 0;
}

.triple-circle > div:nth-child(3) {
    width: 24vw;
    height: 24vw;
    background-color: rgb(243, 175, 61);
    transform: translateX(-300px) scale(0.55);
    transition-delay: 1.2s;
    opacity: 0;
}

.triple-circle-info {
    padding-top: 50px;
    padding-bottom: 150px;
}

.triple-circle-info > h2 {
    font-size: 3.5vw;
}

.triple-circle-info > h3 {
    font-size: 3vw;
    color: rgb(113, 152, 248);
    padding-bottom: 50px;
}

.evolution-esg > h3 {
    color: rgb(243, 175, 61);
    padding: 20px 0;
    border-bottom: 1px solid white;
    font-size: 2.5vw;
}

.evolution-esg > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.evolution-esg > div div {
    padding-right: 50px;
}

.evolution-esg > div h3 {
    padding: 20px 0;
    font-size: 2.5vw;
}

.impact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

.impact .impact-text {
    display: flex;
    align-items: flex-end;
    color: rgb(4, 35, 149);
}

.impact-text h2 {
    flex: 0 0 35%;
    font-size: 3.5vw;
    margin-right: 10%;
}

.impact-text p {
    font-size: 24px;
}

.impact .impact-image {
    padding-top: 50px;
}

.impact-image img {
    width: 60%;
}

.impact-image p {
    color: rgb(20, 51, 164);
}

.impact-image p span {
    color: rgb(4, 35, 149);
    font-weight: bold;
}

.real-impact {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
}

.real-impact-content {
    flex: 0 0 45%;
    color: white;
}

.real-impact-content h2 {
    font-size: 3.5vw;
    margin-bottom: 50px;
}

.real-impact-content h3 {
    font-size: 2.5vw;
    margin-bottom: 15px;
}

.real-impact-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.real-impact-animation {
    flex: 0 0 55%;
}

.rch-animated {
    transition: .6s;
    transform-origin: center;
    opacity: 0;
    transform: scale(0);
}

.rch-main-animated {
    opacity: 0;
    transition: .6s;
    transition-delay: 2s;
}

.rch-main-animated polygon {
    opacity: 1;
}

.arrow-real-impact {
    animation-name: pulse;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.different-ambitious {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(14, 58, 221);
}

.different-ambitious-animation {
    flex: 0 0 55%;
    padding-right: 50px;
}

.different-ambitious-content {
    flex: 0 0 45%;
    color: white;
}

.different-ambitious-animation svg {
    max-width: 100%;
    opacity: 0;
    transition: .6s;
}

.different-ambitious-animation svg .fade-in {
    transition: .8s;
    transform-origin: 50% 50%;
    transform: scale(0);
}

.different-ambitious-content h2 {
    font-size: 3.5vw;
    margin-bottom: 50px;
}

.different-ambitious-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.different-ambitious-content p:last-child {
    color: rgb(243, 175, 61);
}

.focus {
    padding-top: 50px;
    padding-bottom: 50px;
}

.focus-content {
    color: white;
    margin-bottom: 50px;
}

.focus-content h2 {
    font-size: 3.5vw;
    margin-bottom: 50px;
}

.focus-content p {
    font-size: 18px;
    width: 50%;
}

.focus-animation {
    display: flex;
    justify-content: flex-end;
}

.focus-animation-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-animation-content > div {
    width: 250px;
    height: 250px;
    border: 10px solid rgb(113, 152, 248);
    padding: 40px 10px 0 10px;
    background-color: white;
    color: rgb(14, 58, 221);
    margin-left: 20px;
}

.focus-animation-content > div:last-child {
    border: 10px solid rgb(243, 175, 61);
    color: rgb(243, 175, 61);
    margin-left: 0;
}

.focus-animation-content > img {
    width: 80px;
    margin: 0 30px;
}

.l-r-animation {
    transform: translateX(-100px);
    opacity: 0;
    transition: .6s;
}

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(113, 152, 248);
    color: white;
}

.contact h2 {
    font-size: 3.5vw;
}

.contact h2 span {
    color: rgb(14, 58, 221);
}

.contact form {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 20px;
}

.contact form input {
    width: 100%;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    padding: 5px 0;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.contact form button {
    background-color: rgb(14, 58, 221);
    padding: 15px 50px;
    color: white;
    border: unset;
    font-size: 18px;
}

.rift-title {
    font-size: 13vw;
}

.rift-title h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.rift-title .under-text {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .4);
}

.rift-title .over-text {
    z-index: 2;
    transition: 1s;
    color: rgba(243, 175, 61, 0);
}

.launch-rift-container {
    background-color: #4065F6;
    padding-top: 50px;
}

.launch-rift-container > h2 {
    color: rgb(4, 35, 149);
    font-size: 3vw;
}

.average {
    padding-top: 50px;
}

.average > h3 {
    color: rgb(243, 175, 61);
    margin-bottom: 25px;
}

.average-items {
    position: relative;
    width: 100%;
}

.average-items > div {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.average-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: white;
    font-size: 36px;
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0);
    transition: .2s;
}

.average-content:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    border-top: 3px solid rgba(255, 255, 255, 1);
}

.average-details {
    height: 0;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: .6s;
}

.average-details > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 10% 60px 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.average-details > div > img {
    height: 300px;
}

.average-details-content h3 {
    color: rgb(14, 58, 221);
}

.average-details-content h3 span {
    color: rgb(64, 101, 246);
}

.average-details-content button {
    margin-top: 50px;
    background-color: rgb(14, 58, 221);
    border: none;
    color: white;
    padding: 20px 20px;
    outline: none;
}

.close-average {
    display: flex;
    align-items: center;
    bottom: 20px;
    right: 9%;
    color: rgb(64, 101, 246);
    cursor: pointer;
}

.close-average img {
    width: 50px;
    margin-left: 15px;
}

.transforming {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transforming > img {
    width: 100%;
}

.transforming h2 {
    font-size: 3vw;
    color: white;
}

.transforming h3 {
    color: rgb(113, 152, 248);
    font-size: 2vw;
}

.rift-circle-animation {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.rift-circle-animation svg {
    width: 50%;
}

.rift-circle-animation svg .rift-circle {
    opacity: 0;
    transition: .4s;
}

footer {
    background-color: rgb(14, 58, 221);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
}

.footer-nav h4 {
    color: white;
    margin-bottom: 50px;
}

.footer-nav ul li {
    list-style-type: none;
    color: rgb(113, 152, 248);
    margin-bottom: 15px;
}

.footer-closing {
    padding-top: 250px;
}

.footer-closing h3 {
    color: white;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.footer-closing div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: white;
}

.footer-closing div ul {
    display: flex;
    align-items: center;
}

.footer-closing div ul li {
    list-style-type: none;
    padding-right: 15px;
}

.footer-closing div ul li a {
    color: white;
}

@media only screen and (max-width: 767px) {
    .main-padd {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav nav ul {
        font-size: 14px;
    }

    .nav nav span {
        display: none;
    }

    header .homepage-header, header .launch-rift-header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .title h1 {
        padding: 30px 0 50px 0;
        font-size: 7vw;
    }

    .scroll {
        bottom: 10px;
    }

    .scroll img {
        width: 20px;
    }

    .triple-circle {
        height: 30vh;
        padding: 0 0 0 50px;
    }

    .triple-circle > div:nth-child(1) {
        width: 20vw;
        height: 20vw;
    }

    .triple-circle > div:nth-child(2) {
        width: 28vw;
        height: 28vw;
        transform: translateX(-40px) scale(0.8);
    }

    .triple-circle > div:nth-child(3) {
        width: 40vw;
        height: 40vw;
        transform: translateX(-90px) scale(0.55);
    }

    .triple-circle-info {
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .triple-circle-info > h2 {
        font-size: 5vw;
    }

    .triple-circle-info > h3 {
        font-size: 4vw;
        padding-bottom: 25px;
    }

    .evolution-esg > h3 {
        font-size: 4vw;
    }

    .evolution-esg > div {
        flex-direction: column;
    }

    .evolution-esg > div div {
        padding-right: 25px;
    }

    .evolution-esg > div h3 {
        font-size: 4vw;
    }

    .impact {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .impact .impact-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .impact-text h2 {
        flex: 0 0 100%;
        font-size: 5vw;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .impact-text p {
        font-size: 18px;
    }

    .impact .impact-image {
        padding-top: 25px;
    }

    .impact-image img {
        width: 100%;
    }

    .real-impact {
        flex-direction: column;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .real-impact-content {
        flex: 0 0 100%;
    }

    .real-impact-content h2 {
        font-size: 5vw;
        margin-bottom: 25px;
    }

    .real-impact-content h3 {
        font-size: 4vw;
        margin-bottom: 10px;
    }

    .real-impact-animation {
        flex: 0 0 100%;
    }

    .different-ambitious {
        flex-direction: column-reverse;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .different-ambitious-animation {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .different-ambitious-content {
        flex: 0 0 100%;
    }

    .different-ambitious-content h2 {
        font-size: 5vw;
        margin-bottom: 25px;
    }

    .focus {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .focus-content {
        margin-bottom: 25px;
    }

    .focus-content h2 {
        font-size: 5vw;
        margin-bottom: 25px;
    }

    .focus-content p {
        width: 100%;
    }

    .focus-animation {
        justify-content: flex-start;
        align-items: center;
    }

    .focus-animation-content {
        width: 100%;
        flex-direction: column;
    }

    .focus-animation-content > div {
        width: 150px;
        height: 150px;
        padding: 10px;
        margin-left: 0;
        margin-top: 20px;
    }

    .focus-animation-content > img {
        width: 60px;
        margin: 20px 0;
        display: block;
        transform: rotate(90deg) !important;
    }

    .focus-animation-content > div:last-child {
        margin-top: 0;
    }

    .launch-rift-container > h2 {
        color: rgb(4, 35, 149);
        font-size: 20px;
    }

    .average {
        padding-top: 25px;
    }

    .average-items > div {
        padding-left: 20px;
        padding-right: 20px;
    }

    .average-content {
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }

    .average-details > div {
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 60px 20px;
    }

    .average-details > div > img {
        height: 150px;
        margin-bottom: 20px;
    }

    .average-details-content button {
        display: block;
        margin: 25px auto 0 auto;
    }

    .close-average {
        bottom: 20px;
        right: 20px;
    }

    .close-average img {
        width: 40px;
        margin-left: 10px;
    }

    .transforming {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .transforming > img {
        display: none;
    }

    .transforming h2 {
        font-size: 20px;
    }

    .transforming h3 {
        font-size: 18px;
    }

    .rift-circle-animation svg {
        width: 85%;
    }

    .contact {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .contact h2 {
        font-size: 5vw;
    }

    .contact form {
        padding-top: 25px;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .footer-nav {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    .footer-nav h4 {
        color: white;
        margin-bottom: 25px;
    }

    .footer-closing {
        padding-top: 50px;
    }

    .footer-closing div ul {
        font-size: 14px;
    }

    .footer-closing span {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .title h1 {
        padding: 50px 0;
        font-size: 4vw;
    }

    .triple-circle {
        height: 35vh;
        padding: 20px 0 0 40px;
    }

    .triple-circle > div:nth-child(1) {
        width: 20vw;
        height: 20vw;
    }

    .triple-circle > div:nth-child(2) {
        width: 28vw;
        height: 28vw;
        transform: translateX(-60px) scale(0.8);
    }

    .triple-circle > div:nth-child(3) {
        width: 40vw;
        height: 40vw;
        transform: translateX(-120px) scale(0.55);
    }

    .impact .impact-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .impact-text h2 {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }

    .impact-text p {
        font-size: 18px;
    }

    .impact-image img {
        width: 100%;
    }

    .real-impact-content h2 {
        margin-bottom: 25px;
    }

    .real-impact-content h3 {
        margin-bottom: 10px;
    }

    .real-impact-content p {
        margin-bottom: 15px;
    }

    .different-ambitious {
        flex-direction: column-reverse;
    }

    .different-ambitious-animation {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .different-ambitious-content {
        flex: 0 0 100%;
    }

    .focus-content h2 {
        margin-bottom: 35px;
    }

    .focus-content p {
        width: 100%;
    }

    .focus-animation {
        justify-content: flex-start;
    }

    .focus-animation-content {
        width: 100%;
    }

    .focus-animation-content > div {
        width: 150px;
        height: 150px;
        padding: 15px;
    }

    .transforming > img {
        width: 50%;
    }

    .rift-circle-animation svg {
        width: 80%;
    }
}
